{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head_title %}
{{ block.super }}
{% endblock head_title %}

{% block meta-image %}bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock meta-image %}
{% block twitter-image %}bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock twitter-image %}
{% block meta %}data-no-turbolink="true" {% endblock meta %}
{% block container-page %} court-lust{% endblock container-page %}
{% block body_class %}body-posts{% endblock %}


{% block content %}



{% for obj in object_list %}

<div class="court-listing court-post">
        {% if obj.image %}
        <div class="court-post--image">
          
            <a href="{{ obj.get_absolute_url }}">  <img src='{{ obj.image.url }}' class='img-court' /></a>
        </div>
             
        {% endif %}
        <div class="court-post--text">


        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> </h3>
    <p>{{ obj.location }}</p>
 <p>{{ obj.get_markdown }}</p>

  {% if obj.user %}<p>By: <a href='/profiles/{{ obj.user.username }}'>{{ obj.user.username }}</p></a>{% endif %}
      

<!--  <p>{{ obj.timestamp|timesince }} ago</p>
 -->        </div>

      <div class="court-caption">

      <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View  ↳</a></p>
 
    
        <!-- <div class="forum-likes">
    <a class='like-btn caption-stats' data-href='{{ obj.get_api_like_url }}' data-likes='{{ obj.likes.count }}'  href='{{ obj.get_like_url }}' class="forum-content--icon">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>

</svg>
<p>{{ obj.likes.count }}</p>

</a> 
  </div> -->

  </div>

      </div>

{% endfor %}






{% endblock content %}