<meta name="description" content="Basektball Is Fun is a destination for culture and news in the world of basketball.">
<meta name="keywords" content="Basketball Is Life, Basketball, NBA, Basketball Culture">
<meta property="og:description" content="Basektball Is Fun is a destination for culture and news in the world of basketball.">
<meta property="og:locale" content="en_US">
<meta property="og:keywords" content="Basketball Is Life, Basketball, NBA, Basketball Culture">
<link rel="canonical" href="https://basketball-is.fun">
<meta property="og:url" content="https://basketball-is.fun">
<meta name="twitter:card" content="summary_large">
<meta name="twitter:site" content="@bball_is__fun">
<meta content="https://bif-ball.s3.amazonaws.com/media/2/Logov3.png" property="og:image">
<meta name="twitter:image" value="https://bif-ball.s3.amazonaws.com/media/2/Logov3.png?">