<meta name="description" content="BISF™️ is a community built on the backboards of basketball courts.">
<meta name="keywords" content="Basketball Is Life, Basketball, Basketball Hoops, NBA, Basketball Culture">
<meta property="og:description" content="BISF™️ is a community built on the backboards of basketball courts.">
<meta property="og:locale" content="en_US">
<meta property="og:keywords" content="Basketball Is Life, Basketball, Basketball Hoops, NBA, Basketball Culture">
<link rel="canonical" href="https://basketball-is.fun">
<meta property="og:url" content="https://basketball-is.fun">
<meta property="og:site_name" content="Basketball Is Fun">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bball_is__fun">
<meta name="twitter:url" content="https://basketball-is.fun">
<meta name="twitter:title" content="Basketball Is Fun">
<meta name="twitter:description" content="BISF™️ is a community built on the backboards of basketball courts.">

