<footer>
	<div class="container">
		<div class="logo">
			{% include "section/logo.html" %}
		</div>
		<div class="all-rights">
			<h3>Basketball Is Fun &copy; <br> All Rights Reserved {% now "Y" %}</h3>
		</div>
		<ul>
			<li><a href="">Court Lust</a></li>
			<li><a href="">BIF All Stars</a></li>
			<li><a href="">Art</a></li>
			<li><a href="">Product Testing</a></li>

		</ul>
			<ul>
			<li><a href="/pages/about/">About</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">Terms & Privacy</a></li>
		</ul>

		<div class="intro">
			{% include "section/hoop.html" %}

			<p> Creating a digital catalogue of the artistic elements of basketball while utilizing a plethora a innovative digital tools to bring forth a new dimension to the sport.</p>


			{% include "section/social.html" %}

		</div>

	</div>
</footer>