<footer>
	<div class="container">
		<div class="logo-footer">
			<svg width="99" height="77" xmlns="http://www.w3.org/2000/svg"><g fill="#353535" fill-rule="evenodd" font-family="AvenirNext-Bold, Avenir Next" font-size="20" font-weight="bold"><text transform="translate(-1 -4)"><tspan x="0" y="20">Basketball </tspan></text><text transform="translate(-1 -4)"><tspan x="49" y="47">Is </tspan></text><text transform="translate(-1 -4)"><tspan x="63" y="80">Fun </tspan></text></g></svg>
		</div>
	
		<ul>
			<li><a href="">Court Lust</a></li>
			<li><a href="">BIF All Stars</a></li>
			<li><a href="">Art</a></li>
			<li><a href="">Product Testing</a></li>
			</ul>
<ul>

			<li><a href="/pages/about/">About</a></li>
			<li><a href="/pages/contact/">Contact</a></li>
			<li><a href="/pages/terms-and-conditions/">Terms & Privacy</a></li>
		</ul>

		<div class="intro">

			<p> BISF™️ is a community built around Basketball News, Culture and Art. Let's roll the balls out and have some fun! </p>


			{% include "section/social.html" %}

		</div>

	</div>
</footer>