
html, body {
  min-height: 100%;
  margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background-color: #fbfbfb;
    line-height: 1.4;
    font-size: .9em;
    overflow-x: hidden;
}

 #map-canvas {
                height: 500px;
            }

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

#instagram-embed-0 {width: 100%;}

input {
      outline: none;
      border: 1px solid #eee;
}


.body-posts {
    background-color: #fff !important;
}
a {
    color: #333;
    text-decoration: none;
}
p {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h4 { font-weight: 300; }
hr {
    border: 1px solid #eee;
}
li {
    list-style: none;
}
form {
    margin: 30px 0;
background: white;
}

.homepage-landing {
  grid-column: 1 / 4;
    position: relative;
}

.homepage-landing svg {
max-width: 400px;
}

.page-content--static {
      grid-column: 1 / 4;

    position: relative;
}

blockquote {
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.search-field {
    width: 76%;
    padding: 10px 10px 12px;
    font-family: 'Fira Sans', sans-serif;
}

#id_password {
  text-align: center;
     width: 50%;
    padding: 10px 10px 12px;
    font-family: 'Fira Sans', sans-serif;
}


.search-button {
    width: 109px;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #55acee;
    color: white;
    padding: 10px 20px 9px;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    border: none;
    font-family: 'Fira Sans', sans-serif;
}
.search-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.breadcrumb {
    background: white;
    padding: 15px 0px;
    margin: 3px 0;

}

.breadcrumb li {display: inline;}
nav ul {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
text-align: right;
}
nav ul li {
    margin: 0;
}

nav ul li a, nav ul li a:visited {
    display: block;
    cursor: pointer;
    text-decoration: none;
}


nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
}

img {
    max-width: 100%;
}
h3 {
    font-size: 1.1em;
    line-height: 1;
    margin: 0;
    padding: 8px 0 0;
}
.wmd-panel {
    margin-right: 0 !important;
    margin-left: 0 !important;
    min-width: 100% !important;
}
.wmd-input {
    background-color: #f9f9f9 !important;
    border: 1px solid #e8e7e7 !important;
}
h1 {
    color: #444444;
    font-size: 36px;
}

.lead {
    font-weight: 400;
}

.post-detail-item {
  max-width: 80%;
  padding: 10px 0;
border-top: 1px solid #eee;
}

.post-detail-item p {
    margin: 2em 0;
    line-height: 1.5;
}

.post-tags {
    display: inline-block;
    background: #f5f5f5;
    padding: 3px 15px;
    margin: 1em 10px 1em 0;
}



.container {
      margin: 0 auto;
    width: 90%;
    max-width: 68em;
       display: grid;
    grid-column-gap: 2rem;
   margin: 0 auto;
padding: 0 2.55555em;
grid-column-gap: 2rem;
grid-template-columns: 2fr 2fr 2fr 2fr;
}

.container.courts {
  grid-template-columns: 2fr 2fr;
}

.court-listing, .forum-content {
    grid-column: auto / span 4;
    position: relative;

}

.forum-content--detail {
  grid-column: 1 /  4;
  margin:1em 0 0;
}

.forum-content--detail .breadcrumb {
  padding-left: 30px;
}

.forum-search {
    grid-column: auto / span 3;
    position: relative;

}



#lockdown {
grid-column: auto / span 4;
text-align: center;
padding: 1em 0;
}

#lockdown label {
  margin-right: 10px;
}

#password {
  max-width: 100%;
  padding: 2em;
}

/*#lockdown form {
  background:#fbfbfb; 
}*/


.forum-content--icon {
  border: 1px solid #eee;
  padding: 10px 1em 0;
}

.court-post, .post-content {
      grid-column: auto / span 2;
}

.post-item {
      grid-column: 1 / -1;
}

.form {
    display: grid;

 grid-template-columns:  1fr 1.3fr;
}

.form form {
  margin-left: 30px; 
}


header  .container {
    grid-template-columns: 5fr 5fr ;
     min-height: auto;

}

header  .container-landing {

      margin:  0 auto;
    width: 90%;
    max-width: 400px;
    display: grid;
    grid-column-gap: 2rem;
    padding: 3em 2.55555em;
    grid-column-gap: 2rem;
    height: 100%
    grid-template-rows:    70px;
grid-template-columns: repeat(2, 1fr);

}




.like-btn { 
  background: #fbfbfb;
  padding: 5px;
  margin: 5px 11px 10px 0px;
  text-align: center;

}

.page-container {
  margin: 0 -1.625rem;
}


.forum {
    background: white;

    padding: 15px;
    margin: 2em 0;
}
.forum-content, .page-content, aside {
    background: white;

    margin: 1em 0 0;
    padding: 0em 0 1em;
        border-bottom: 1px solid #eee;
}

.password-form{
    background: white;

    margin: 1em 0 0;
    padding: 0em 0 1em;
}


aside { grid-column: auto / span 1; }

.forum-post-content {
    background: white;
    margin: 1em 0 3em;
    padding: 0em 0 1em;
        border-bottom: 1px solid #eee;
}


.forum-content--post , .page-content--full {
    background: white;
    padding: 7px 30px;
    margin: 0;
}

.page-content--full h3 { font-size: 1.4em; margin-bottom: 2em; }
.page-content--full p { margin-bottom: 2em; }



.forum-content--comments {
    margin: 2em 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #eee;
}

.comment-reply { display:none;}
.post {
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.post-content {
    margin-bottom: 2em;
}

.post-credits {
  line-height: 1;
  margin: 20px 0;
  grid-template-columns: .8fr 1fr 1fr;
  display: grid;
}

.post-credits h2:before {width: 10px; height: 1px; background: black; }

.post-credits p { margin: 3px 0; }

.post-date { font-size: .8em; }
textarea {
    resize: none;
}
.form-control {
    background-color: #fcfcfc;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: #555f77;
    font-family: inherit;
    font-size: 14px;
    padding: 5px 0px;
    outline: none;
    width: 80%;
    margin-bottom: 2em;
    max-height: 111px;
}
.caption {
    display: grid;
    grid-template-columns: 1fr .6fr 1fr .4fr .4fr ;
    padding: 0;
}
.caption h3 {
    width: 100%;
}
.caption p {
    height: auto;
}

.caption a svg {
  margin-right: 10px;
}
.pagination {
    margin: 15px;
    text-align: center;
}

.pagination a {

  font-weight: 700;
  font-size: 1.3em;
color: #f58323;
padding: 10px 13px;
}

.author-color {
  color: #f58323;
}

.geoposition {
  background-color: #fcfcfc;
border: none;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
color: #555f77;
font-family: inherit;
font-size: 14px;
outline: none;
margin: 1em 0;
min-height: 28px;
 }



/* pages */

.page-content {
      max-width: 45em;

}

/* Social */

.social {
    max-width: 20px;
    margin-left: 20px;
}

/* Court */

.img-court {
   margin: 2em 0;
}

/* account */

.account-page--content {
       grid-column: auto / span 2;
margin: 1em 0;
background: white;
padding: 30px;
}

.author {
  grid-column: auto / span 3;
  padding: 1em 0;
}


/* header */

header {
    background: #fff;
    min-height: 90px;
}

header.land {
  min-height: 428px;
}

.logo {
    max-width: 75px;
    padding: 9px 0;
}
nav {
  
    padding: 1.5em 0;

    transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
   transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      
      &:before {
        
      }
    }
  }

}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    width: 200px;
    right: 84px;
    padding: 2em 0px;
    text-align: center;
    background: white;
    z-index: 10;
   

}

 .nav-dropdown li a{

          padding: 1em 0;

    }




.icon-1, .icon-2, .icon-3 {
    width: 32px;
    height: 1px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.mobile-hamburger-icon {
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 4%;
    right: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.2);
 &:hover {

    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    // transform: scale(.3);
    opacity: 0;
  }
  
  100% {
    width: 50%;
    // transform:scale(1);
    opacity: 1;
  }
}

/* posts */

.header-img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

/* landing page */

.landing {
     max-width: 600px;
    margin: 0em auto;
    top: 22%;
    position: relative;
    z-index: 100;


}

   .landing svg {
    overflow: initial;
    }

/* footer */

footer {
    background: #f5f5f5;
    position: relative;
    clear: both;
    width: 100%;
    min-height: 131px;
    padding: 3em 0;
    bottom:0;
    line-height: 1.5;
        margin-top: 3em;
}

footer h3 {
    font-weight: 300;
    width: 154px;
    font-size: 1em;
    padding: 1.5em 0 0;
    line-height: 1.2;
}

footer .container {
  grid-template-columns: 1fr 1fr 1fr 2fr ;

}

footer ul {
  padding: 0 10px;
}

footer li {
  margin: 0 0 10px;
}

footer li a, footer p {
      font-size: .9em;

}



footer .intro svg {
      margin-bottom: 16px;
      margin-left: 15em;
}

.social-icon {
  display: grid;
  grid-template-columns: 50px 50px;
      margin: 0;
}


/* messages */

.messages {
    position: absolute;
    background: #f58324;
    color: white;
    width: 100%;
    height: 7%;
    top: 10em;
    font-weight: 700;
    z-index: 1000;
}

.messages a {color: white;}

.editorial {
  position: fixed;
  right: 10px;
  bottom: 100px;
}


/* Responsive */

@media screen and (max-width: 800px) {
footer .container {
    grid-template-columns: 1fr;
}

footer li {
    display: inline-block;
    padding: 0 2em 0 0px;
}

footer .intro svg {
    margin-bottom: 16px;
    margin-top: 2em;
    margin-left: 0;
}

aside {
    grid-column: 1;
}

.container {

    grid-column-gap: 0;
    grid-template-columns: 1fr;
    padding: 0;
}

.container.courts {
    grid-template-columns: 1fr;
}

.caption {
  grid-template-columns: 1fr;
}


}
