{% load staticfiles %}
{% load notifications_tags %}

<!DOCTYPE html>
<head>
<title>404  | Basketball Is Fun</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "meta/meta.html" %}
<meta property="og:image" content="https://{% block meta-image %}{% endblock meta-image %}">
<meta name="twitter:image" content="https://{% block twitter-image %}{% endblock twitter-image %}">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400" rel="stylesheet">
<link rel="shortcut icon" href='{% static "images/favi.png" %}'>
<link rel="stylesheet" href='{% static "css/main.css" %}'  />
<style>
{% block style %}{% endblock style %}
</style>
{% block head_extra %} {% endblock head_extra %}

</head>
<body lang="en" class="{% block body_class %}default{% endblock body_class %}">

<div class="container {% block container-page %} {% endblock container-page %}">

{% block content %}
<img src="https://i.giphy.com/media/3o7TKB3oifq46DDhOE/giphy.webp">
<h3>Uh oh, loooks like you took a wrong turn!</h3>
<p>Head back to the homepage <a href="/">here</a>. Keep shooting your shot.</p>
{% endblock content %}