{% load staticfiles %}
<!-- DOCTYPE html  -->
<html>
<head>
<title>{% block head_title %}Basketball Is Fun{% endblock head_title %}</title>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400" rel="stylesheet">
{% include "meta/meta.html" %}
<meta property="og:image" value="{% block meta-image %}{% endblock meta-image %}">
<meta name="twitter:image" value="{% block twitter-image %}{% endblock twitter-image %}">
<link rel="shortcut icon" href='{% static "images/favi.png" %}'>
<link rel='stylesheet' href='{% static "css/base.css" %}' />

<!-- <script src="https://www.scoutmaster.pro/assets/application-09def8a0df6daf9fe2220bba17e20e6ffab49a46c2049ff7a5c03b4f5e3c1605.js"></script> -->

<style>
{% block style %}{% endblock style %}
</style>
{% block head_extra %} {% endblock head_extra %}

</head>
<body class="{% block body_class %}default{% endblock body_class %}">
<header>
{% include "messages_display.html" %}
<div class="container">
<div class="logo">
<a href="/">
{% include "section/logo.html" %}
</a>
</div>
<nav class="navigation">
 <div class="mobile-hamburger-icon" id="icon">
    <div class="icon-1" id="a"></div>
    <div class="icon-2" id="b"></div>
    <div class="icon-3" id="c"></div>
 </div>
<ul class="nav-list">
	<li ><a href='{% url "forum:list" %}'>Home</a></li>
	<li ><a href='{% url "posts:list" %}'>Editorial</a></li>
	<li><a href='{% url "courts:list" %}'>Courts</a></li>
		{% if  request.user.is_staff %}
			<li><a  href='{% url "posts:create" %}'><svg width="30px" height="30px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="edit-(1)" fill-rule="nonzero">
            <circle id="Oval" fill="#F58323" cx="64" cy="64" r="64"></circle>
            <g id="Group" transform="translate(27.000000, 27.000000)" fill="#FFFFFF">
                <path d="M73.3,10.6 C73.7,10.2 73.7,9.6 73.3,9.2 L64.8,0.7 C64.4,0.3 63.8,0.3 63.4,0.7 L53.5,10.6 L63.4,20.5 L73.3,10.6 Z" id="Shape"></path>
                <path d="M23.1,49.6 C22.8,50.4 23.6,51.1 24.4,50.9 L37.4,46.5 L60.5,23.4 L50.6,13.5 L27.5,36.6 L23.1,49.6 Z" id="Shape"></path>
                <path d="M73,37 L61,37 C60.4,37 60,37.4 60,38 L60,60 L14,60 L14,14 L36,14 C36.6,14 37,13.6 37,13 L37,1 C37,0.4 36.6,0 36,0 L1,0 C0.4,0 0,0.4 0,1 L0,73 C0,73.6 0.4,74 1,74 L73,74 C73.6,74 74,73.6 74,73 L74,38 C74,37.4 73.6,37 73,37 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg></a></li>
{% endif %}
	{% if not request.user.is_authenticated %}
	<li><a href='/accounts/signup'>Signup</a></li>
	<li ><a href='{% url "login" %}'>Login</a></li>
	{% else %}


	<li><a class="things">Account</a>
		<ul class="nav-dropdown">
				<li><a >@{{request.user }} </a></li>

			<li><a href='{% url "forum:create" %}'>Write Forum</a></li>
			<li><a href='{% url "courts:create" %}'>Add Court</a></li>

			<li><a href='{% url "logout" %}'>Logout</a></li>
		</ul>
	</li>	


		<!-- <p class="pull-right">You're logged in as {{request.user.username}}</p> -->
	{% endif %}
</ul>	
</nav>
</header>
<div class='container {% block container-page %} {% endblock  %}	'>
{% block post_detail_link %}{% endblock  %}	
{% block content %}{% endblock content %}



</div>
{% include "section/footer.html" %}
{% load static %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
<script src='{% static "js/main.js" %}'></script>
<script src='{% static "turbolinks/turbolinks.js" %}'></script>

<script>
      {% block jquery %}{% endblock %}
 </script>
</body>
</html>
