{% extends "base.html" %}


{% load urlify %}
{% load crispy_forms_tags %}



{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block meta-image %} {{ instance.image }}{% endblock meta-image %}
{% block twitter-image %} {{ instance.image }}{% endblock twitter-image %}
{% block body_class %}body-posts{% endblock %}

{% block container-page %} courts {% endblock  %}

{% block content %}

<div class="court-images">
   <img src='{{ instance.image.url }}' class='img-court' />
   <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=satellite&size=1700x1700&key=AIzaSyCxJInoQGs969DcTm5qw6tE9Blds8iYbiU&zoom=17&markers={{instance.location}}">  

 <!-- <div class="court-map">
     

        <div class="court-listing" id="map-canvas"></div>    </div>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EOxSaLaNa3JUb9-Y-a8g_8E71RFWUXQ&sensor=false&callback=initialize"></script>

        <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 10,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

                var bounds = new google.maps.LatLngBounds();
                function addMarker(lat, lng, title) {
                    var location = new google.maps.LatLng(lat, lng);

                    var marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        location: '{{ instance.get_absolute_url }}',
                        title: title

                    });
                  

             bounds.extend(location);

                }
                     addMarker({{ instance.location.latitude }}, {{ instance.location.longitude }});
                 



      

                map.fitBounds(bounds);

  


            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>  -->
</div>


    <div class="court-list">
<h2>{{ title }} {% if instance.draft %}<small><span style='color:red;'>Draft</span> </small>{% endif %}</h2>
        <p class="post-date">{{ instance.timestamp }}</p>

<!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->


{% if instance.user %}
<p>by: <a href="/profiles/{{ instance.user }}" class="author-color">{{ instance.user }}</a></p>
{% endif %}
    <p>{{ instance.location }}</p>
    <p>{{ instance.address }}</p>
{{instance.get_markdown }}


   <div class='post-detail-item'>


<p>
    Share:
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a> / 
<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a> /
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
</p>

{% for tag_obj in instance.tags.all %}
    <li class="post-tags"> <a href="/courts/tags/{{tag_obj}}/" >x {{ tag_obj}}</a></li>
    {% endfor %}

{% if  request.user.is_authenticated %}
<li><a href='{{ instance.get_absolute_url }}edit/'>Edit Court</a></li>
<li><a href='{{ instance.get_absolute_url }}delete/'>Delete Court</a></li>
{% endif %}

    </div>

    <div>

        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='search-button'>
            
        </form>
        {% else %}
        <p>You must log in to comment.</p>
        {% endif %}


       {% for comment in comments %}

        <div class="forum-content--comments">
          <p> {{ comment.user }} | {{ comment.timestamp|timesince }} ago  </p>  

          <p>{{ comment.content }}</p>

           {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <div> | {{ child_comment.timestamp|timesince }} ago</div>
                </blockquote>
             {% endfor %}
             
          <div> {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'><small>Reply</small></a> | <a class='' href='{{ comment.get_absolute_url }}'> <small>Thread</small></a></div>

          <div class='comment-reply'>
            
        {% if request.user.is_authenticated %}

            <form method="POST" action="."> {% csrf_token %}
                {{ comment_form|crispy }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <input type='submit' value='Reply' class='search-button'>
            </form>
            {% else %}
        <p>You must log in to comment.</p>
        {% endif %}

        </div>

        </div>

        {% endfor %}
    </div>


</div>


{% endblock content %}