{% extends "base.html" %}


{% load urlify %}
{% load crispy_forms_tags %}



{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block meta-image %} {{ instance.image }}{% endblock meta-image %}
{% block twitter-image %} {{ instance.image }}{% endblock twitter-image %}
{% block body_class %}body-posts{% endblock %}

{% block container-page %} courts {% endblock  %}





{% block content %}

<div class="court-images">
     <img src="{{ instance.image.url }}">
   <img src="https://maps.googleapis.com/maps/api/staticmap?size=1700x1700&key=AIzaSyCxJInoQGs969DcTm5qw6tE9Blds8iYbiU&zoom=15&markers={{instance.location}}">  

</div>


    <div class="court-list">
<h2>{{ title }} {% if instance.draft %}<small><span style='color:red;'>Draft</span> </small>{% endif %}</h2>

<!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->


{% if instance.user %}
<p>by: <a href="/profiles/{{ instance.user }}" class="author-color">{{ instance.user }}</a></p>
{% endif %}
<p>{{ instance.publish }}</p>
    <p>{{ instance.location }}</p>
    <p>{{ instance.address }}</p>
{{instance.content }}


   <div class='post-detail-item'>


<p>
    Share:
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a> / 
<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a> /
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
</p>
{% for tag_obj in instance.tags.all %}
    <li class="post-tags"> <a >{{ tag_obj}}</a></li>
    {% endfor %}
    </div>

    <div>

        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='search-button'>
            
        </form>
        {% else %}
        <p>You must log in to comment.</p>
        {% endif %}


       {% for comment in comments %}

        <div class="forum-content--comments">
          <p> {{ comment.user }} | {{ comment.timestamp|timesince }} ago  </p>  

          <p>{{ comment.content }}</p>

           {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <div> | {{ child_comment.timestamp|timesince }} ago</div>
                </blockquote>
             {% endfor %}
             
          <div> {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></div>

          <div class='comment-reply'>
            
        {% if request.user.is_authenticated %}

            <form method="POST" action="."> {% csrf_token %}
                {{ comment_form|crispy }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <input type='submit' value='Reply' class='search-button'>
            </form>
            {% else %}
        <p>You must log in to comment.</p>
        {% endif %}

        </div>

        </div>

        {% endfor %}
    </div>


</div>


{% endblock content %}