{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block head_extra %} 

{% endblock head_extra %}



{% block content %}

	<div class="forum-content--detail">	
	<div class="forum-content--post">

<h2>Post a Court</h2>

<p>
	What time is it?! GAME TIME - HOOP! Post and share a basketball court, any court. It could be a full court in Uzbekistan or your favorite driveway hoop in Gary, Indiana. With adding coordinates of the location, we're able to provide pinpoint accuracy of each and every basketball court as curated by you, the BISF Community.

</p>

<p>
	Each field below is required to be filled out. For Latitude and Longitude, there's a pretty simple process you can follow:
</p>

<form method='POST' class="form-item" action='' enctype='multipart/form-data'>

{% csrf_token %}
{{ form | crispy }}

<input type='submit' class="search-button"  value='Submit' />
</form>
</div>	
</div>
{% endblock content %}
