{% extends "base.html" %}

{% load urlify %}
{% load crispy_forms_tags %}



{% block head_title %}
Courts | {{ block.super }}
{% endblock head_title %}

{% block meta-image %} bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock meta-image %}
{% block twitter-image %} bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock twitter-image %}

{% block container-page %} court-lust{% endblock container-page %}
{% block body_class %}body-posts{% endblock %}
{% block content %}
<div class="court-intro">
  <h2>Court Lust.</h2>
  <p>Got a favorite basketball court? Tag your court's location and upload a photo. This is our community. </p>
  {% if not request.user.is_authenticated %}
  {% else %}
    <a class="courts-button" href='{% url "courts:create" %}'>Get started <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg></a>
    {% endif %}
</div>
</div>
<div class="court-map">
  <div class="court-listing" id="map-canvas"></div>    </div>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EOxSaLaNa3JUb9-Y-a8g_8E71RFWUXQ&sensor=false&callback=initialize"></script>
  <script>
    function initialize() {
       var map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: {lat: 40.674, lng: -73.945},
          scrollwheel: false,
          navigationControl: false,
          zoom: 13,
          styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#2db0e9"
      },
      {
        "lightness": "64"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#00548f"
      },
      {
        "lightness": 20
      },
      {
        "gamma": 0.01
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "saturation": -31
      },
      {
        "lightness": -33
      },
      {
        "gamma": 0.8
      },
      {
        "visibility": "off"
      },
      {
        "weight": 2
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": 30
      },
      {
        "lightness": 30
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#ede9f3"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": 20
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": -20
      },
      {
        "lightness": 20
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "saturation": -30
      },
      {
        "lightness": "71"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "saturation": 25
      },
      {
        "lightness": 25
      }
    ]
  },
  {
    "featureType": "water",
    "stylers": [
      {
        "lightness": -20
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#80c6fe"
      },
      {
        "weight": 3.5
      }
    ]
  }
]
        });
                var bounds = new google.maps.LatLngBounds();
                function addMarker(lat, lng, title) {
                    var location = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: title,
                        icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                    });
                        
{% for obj in object_list %}
         var infowindow = new google.maps.InfoWindow({
          content: '<h3 class="court-title"><a href="{{ obj.get_absolute_url }}">' + marker.getTitle() + '</a></h3>' + '<img class="court-pic" src="' + '{{obj.image.url}}' + '">'
        });

     {% endfor %}
 
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });

                    bounds.extend(location);
                }
                 {% for obj in object_list %}
                     addMarker({{ obj.location.latitude }}, {{ obj.location.longitude }}, "{{ obj.title }}",  );
                {% endfor %}
                map.fitBounds(bounds);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
<div class="container">
        {% for obj in object_list %}
<div class="court-listing court-post">
        {% if obj.image %}
                 <img src='{{ obj.image.url }}' class='img-court' />
        {% endif %}

        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> </h3>
        	<p>{{ obj.address }}</p> 
      <div class="court-caption">

  {% if obj.user %}<p>By: <a href='/profiles/{{ obj.user }}'>{{ obj.user }}</p></a>{% endif %}
    
      <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View  ↳</a></p>

 <p>{{ obj.timestamp|timesince }}</p>
      </div>
      </div>

{% endfor %}


</div>

{% if object_list.has_other_pages %}
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in object_list.paginator.page_range %}
      {% if object_list.number == i %}
        <li class="page active"><span>{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li class="page number"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
      <li >><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}


