{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_extra %} 

{% endblock head_extra %}


{% block content %}

	<div class="forum-content--detail">	
	<div class="forum-content--post">
<h2>Post a Court</h2>

<p>
	Submit a link or provide a comment to start a discussion. Check the guidelines to make sure what you're posting is appropriate for the community.

</p>



<form method='POST' class="post-item" action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form | crispy }}

<input type='submit' class="search-button"  value='Submit' />
</form>
</div>	
</div>
{% endblock content %}
