{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
Create Forum Post | {{ block.super }}
{% endblock head_title %}

{% block head_extra %} 

{% endblock head_extra %}



{% block content %}

	<div class="forum-content--detail">	
	<div class="forum-content--post">




<form method='POST' class="form-item" action='' enctype='multipart/form-data'>

{% csrf_token %}
{{ form | crispy }}

<input type='submit' class="search-button"  value='Submit' />
</form>
</div>	
</div>
{% endblock content %}
