{% extends "base.html" %}

{% block meta-image %}bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock meta-image %}
{% block twitter-image %}bif-ball.s3.amazonaws.com/media/2/Logov3.png{% endblock twitter-image %}

 {% block container-page %}forum-detail{% endblock container-page %}


{% block content %}

<div class="forum-intro">
  <h3>Welcome to Basketball Is Fun</h3>
  <p>A Basketball community built around the game's news, culture and art. No limits Let's roll the balls out and have some fun! </p>
  <a class="forum-button" href='{% url "forum:create" %}'>Get started <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg></a>
</div>

<div class="page-content--static">
{% for obj in object_list %}

<div class="forum-item">
  
  <div class="forum-likes">
    <a class='like-btn caption-stats' data-href='{{ obj.get_api_like_url }}' data-likes='{{ obj.likes.count }}'  href='{{ obj.get_like_url }}' class="forum-content--icon">
      <img src='https://s3-us-west-2.amazonaws.com/bif-ball/static/images/arrow.svg'/>
<p>{{ obj.likes.count }}</p> </a> 

  </div>


<div class="forum-content ">
 


   <div class="forum-content--title">
 
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> </h3>
       {% if obj.link %} <a href="{{ obj.link }}" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a> {% endif %}
  </div>  

    <div class="caption">
      <a  data-href='{{ obj.get_api_comment_url }}' class=" caption-stats" data-likes='{{ obj.comments.count }}'>{{ obj.comments.count }} comments</a>
    {% if obj.user %}<p><a href='/profiles/{{ obj.user }}'>@{{ obj.user }}</p></a>{% endif %}
    <p class="caption-stats">{{ obj.timestamp|timesince }} ago</p>
     <a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View  ↳</a>

      
      </div>
</div>
</div>

{% endfor %}


</div>




</div>

{% if object_list.has_other_pages %}
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li class="previous"><a href="?page={{ object_list.previous_page_number }}"><</a></li>
    {% else %}
    {% endif %}
    {% for i in object_list.paginator.page_range %}
      {% if object_list.number == i %}
        <li class="page active"><span>{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li class="page number"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
      <li class="next"><a href="?page={{ object_list.next_page_number }}">> </a></li>
    {% else %}
    {% endif %}
  </ul>
{% endif %}



{% endblock content %}






