{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ object.username }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class="author">
<h2>@{{object.username}} </h2>
</div>

<h3 class="author-subtitle">Forum Posts</h3>
{% for forum in object.forum_set.all %}
<div class='account-page--content'>
<h3><a href="{{forum.get_absolute_url}}">{{ forum.title }}</a></h3>
</div>

{% endfor %}

<h3 class="author-subtitle">Court Posts</h3>


{% for court in object.court_set.all %}
<div class='account-page--content'>

<h3><a href="{{court.get_absolute_url}}">{{ court.title }}</a></h3>
<p>{{ court.address }}</p>
<p>{{ court.location }}</p>
     <img src="{{ court.image.url }}">

</div>

{% endfor %}

{% endblock content %}