{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
Profiles | {{ block.super }}
{% endblock head_title %}



{% block content %}


<ul>
  {% for user in object_list %}
  <div class="user-profile--list">
  	   {% if user.image %}

  	<a href="/profiles/{{ user.username }}" ><img src="{{user.image.url}}"></a>
{% endif %}

    <li ><a href="/profiles/{{ user.username }}" >{{ user.username }}</a></li>
    <p>courts found: {{user.court_set.count}} </p>
 
  </div>
  {% endfor %}
</ul>






{% endblock content %}