{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ object.username }} | {{ block.super }}
{% endblock head_title %}

<!-- {% block post_detail_link %}
<li><a href='{{ object.get_absolute_url }}'> {{object.title}} </a></li>
{% endblock  %} -->


{% block content %}
<div class='forum'>

	<h2>{{object.username}} </h2>

{% for forum in object.forum_set.all %}
<div class='page-content'>

<h3><a href="{{forum.get_absolute_url}}">{{ forum.title }}</a></h3>
{{forum.get_markdown }}
</div>

{% endfor %}

</div>
{% endblock content %}