{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
About | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
    <ol class="court-listing breadcrumb">
        <li ><a href='{% url "forum:list" %}'>Home /</a> </li>
        <li ><a href='{% url "courts:list" %}'>Pages /</a> </li>
    </ol>

{% endblock  %}


{% block content %}
<div class='page-content--static'>
		<div class="page-content--full">

	<h3>	{{flatpage.title}} </h3>

	{{flatpage.content |linebreaks }}
	</div>
</div>

<aside>
	<ul>
		<li><a href="/pages/about/">About</a></li>
		<li><a href="/pages/contact/">Contact</a></li>
		<li>Terms & Conditions</li>
	</ul>
</aside>



{% endblock content %}