{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{flatpage.title}} | {{ block.super }}
{% endblock head_title %}
 {% block container-page %}forum-detail{% endblock container-page %}


{% block post_detail_link %}
    <ol class=" breadcrumb">
        <li ><a href='{% url "forum:list" %}'>Home /</a> </li>
        <li ><Pages /</li><li >
        <a href='{{flatpage.url}}'>{{flatpage.title}}</a> </li>
    </ol>

{% endblock  %}


{% block content %}
<div class="page-content--static">
		<div class="page-content--full">

	<h3>	{{flatpage.title}} </h3>

	{{flatpage.content  }}
	</div>
</div>

<aside class="static-page--aside">
	<ul class="static-page">
		<li><a href="/pages/about/">About</a></li>
		<li><a href="/pages/contact/">Contact</a></li>
		<li><a href="/pages/terms-and-conditions/">Terms & Conditions</a></li>
	</ul>
</aside>



{% endblock content %}